---
import { projects } from '@data/projects';
import ProjectCard from '@components/projects/ProjectCard.astro';
---

<section class="projects section-offset">
  <div class="container projects__inner">
    <h1 class="visually-hidden">Юлия Дубровина — Профессиональный фотограф</h1>
    <ul class="list-reset projects__list">
      {
        projects.map((p) => (
          <li class="projects__item">
            <ProjectCard project={p} />
          </li>
        ))
      }
    </ul>
  </div>
</section>
