---
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro';
import Layout from '@layouts/BaseLayout.astro';
import { projects } from '@data/projects';
import ProjectCard from '@components/projects/ProjectCard.astro';

export const getStaticPaths = (() => {
  const allCategories = [
    ...new Set(projects.map((p) => p.category.toLowerCase())),
  ];

  return allCategories.map((cat) => {
    const filteredProjects = projects.filter(
      (p) => p.category.toLowerCase() === cat,
    );

    return {
      params: { category: cat },
      props: { filteredProjects },
    };
  });
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { category } = Astro.params;
const { filteredProjects } = Astro.props;
---

<Layout title={category.charAt(0).toUpperCase() + category.slice(1)}>
  <section class="projects section-offset">
    <div class="container projects__inner">
      {
        (
          <ul class="list-reset projects__list">
            {filteredProjects.map((p) => (
              <li class="projects__item">
                <ProjectCard project={p} />
              </li>
            ))}
          </ul>
        )
      }
    </div>
  </section>
</Layout>
