---
import Layout from '../../layouts/BaseLayout.astro';
import { projects } from '../../data/projects';
import ProjectCard from '@components/base/ProjectCard.astro';

export function getStaticPaths() {
  // return [
  //   { params: { category: 'commerce' } },
  //   { params: { category: 'tests' } },
  //   { params: { category: 'editorial' } },

  // ];

  const allCategories = [
    ...new Set(projects.map((p) => p.category.toLowerCase())),
  ];

  console.log('--- МОИ КАТЕГОРИИ ---', allCategories);
  const result = allCategories.map((cat) => ({
    params: { category: cat },
  }));

  console.log('--- МОИ КАТЕГОРИИ ---', result);

  return result;
}

const { category } = Astro.params;

const filterCategory = projects.filter((p) => {
  return p.category.toLowerCase() === category;
});
---

<Layout title={category.charAt(0).toUpperCase() + category.slice(1)}>
  <section class="projects section-offset">
    <div class="container projects__inner">
      {
        (
          <ul class="list-reset projects__list">
            {filterCategory.map((p) => (
              <li class="projects__item">
                <ProjectCard project={p} />
              </li>
            ))}
          </ul>
        )
      }
    </div>
  </section>
</Layout>
