---
import { authorInfo } from '@data/author';
import Social from '@components/base/Social.astro';
---

<section class="contact-list section-offset">
  <div class="container contact-list__inner">
    <h1 class="visually-hidden">
      Contact us {authorInfo.name}
    </h1>
    <h2 class="contact-list__title">Contact</h2>
    <Social authorSocial={authorInfo} />
  </div>
</section>
