.contact-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: calc(var(--header-height) + var(--spacing-32));

  &__title {
    margin: 0;
    margin-bottom: var(--spacing-60);
    letter-spacing: 0.1em;
    font-weight: 100;
    font-size: var(--font-size-48);
  }
}
