.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: var(--spacing-40) 0;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  border-bottom: 1px solid #ccc;

  &__inner {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-right: auto;
  }
}
