.projects {
  padding-top: calc(var(--header-height) + var(--spacing-32));

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
  }

  &__item {
    width: 100%;

    &:focus-visible {
      outline: 2px solid #2d2926;
      outline-offset: 3px;
    }
  }
}
