<button
  class="burger btn-reset"
  data-burger
  aria-label="Открыть меню"
  aria-expanded="false"
  aria-controls="main-menu"
>
  <span class="burger__line"></span>
  <span class="burger__line"></span>
  <span class="burger__line"></span>
</button>
