---
import { Icon } from 'astro-icon/components';
---

<div class="go-back">
  <a href="#" class="go-back__link" data-go-back>
    <Icon name="arrow-back" class="go-back__icon" aria-hidden="true" />
    Back
  </a>
</div>
