---
import { authorInfo } from '@data/author';
import BackToTop from './BackToTop.astro';

const currentYear = new Date().getFullYear();
---

<footer class="footer">
  <div class="container footer__inner">
    <p class="footer__text">
      &copy;&nbsp;{currentYear}
      {authorInfo.name}
    </p>
  </div>
</footer>
<BackToTop />
