---
import Logo from '../base/Logo.astro';
import Nav from '../base/Nav.astro';
---

<header class="header">
  <div class="container header__inner">
    <Logo class="header__logo" />
    <Nav class="header__nav" />
  </div>
</header>
