---
import '@assets/scss/vendor/normalize.css';
import '@assets/scss/main.scss';
import { ClientRouter } from 'astro:transitions';

const { title = 'Заголовок сайта', description = '' } = Astro.props;
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="generator" content={Astro.generator} />

  <title>{title}</title>

  {description && <meta name="description" content={description} />}

  <ClientRouter />

  <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
  <script>
    import '@assets/ts/main.ts';
  </script>
</head>
