<!-- Используем persist, потому что без него Астро удалит оверлей при переходе
 и анимация прервется. -->
<div class="page-overlay" data-overlay transition:persist>
  <div class="page-overlay__spinner"></div>
</div>
