---
const navItems = [
  { title: 'Commercial', href: '/category/commerce' },
  { title: 'Model Tests', href: '/category/tests' },
  { title: 'Editorial', href: '/category/editorial' },
  { title: 'Persons', href: '/category/persons' },
  { title: 'About', href: '/about' },
  { title: 'Contact', href: '/contact' },
];

const { class: extraClass = '' } = Astro.props;
---

<nav class=`nav ${extraClass}` data-nav>
  <ul class="nav__list list-reset">
    {
      navItems.map((item) => (
        <li class="nav__item">
          <a href={item.href} class="nav__link" data-nav-link>
            {item.title}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
