---
import { Icon } from 'astro-icon/components';
---

<section class="not-found">
  <div class="container not-found__inner">
    <Icon name="not-found" class="not-found__icon" aria-hidden="true" />
    <h1 class="not-found__title">Страница не найдена</h1>
    <p class="not-found__descr">
      Ссылка, по которой вы перешли, могла быть повреждена, либо страница могла
      быть удалена.
    </p>
    <a href="/" class="not-found__link">Вернуться на главную</a>
  </div>
</section>
