---
import Head from '../components/base/Head.astro';
import Header from '../components/base/Header.astro';

const { title = 'Название сайта', description = 'Описание сайта' } =
  Astro.props;
---

<html lang="ru" class="page">
  <Head title={title} description={description} />

  <body class="page">
    <Header />
    <div class="container"></div>
  </body>
</html>
